/* Highlight colors */
::selection
{
    background: #599bdc; /* Safari */
    color: #ffffff;
}
::-moz-selection
{
    background: #599bdc; /* Firefox */
    color: #ffffff;
}

/* Basic styles */
html
{
    overflow-y: scroll;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    /*    line-height: 1.5em;*/
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
}

noscript
{

}

table
{
    border-collapse: collapse;
}
.soft_table td
{
    border-top: 1px solid #e8edff;
    border-bottom: 1px solid #e8edff;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-top: 4px; 
}

.fancy_table
{
    width: 710px;
    /*    width: auto;*/
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.fancy_table th 
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}
.fancy_table td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
    border-bottom: 1px solid #e8edff;
    border-left: 1px solid #e8edff;
    border-right: 1px solid #e8edff;
}
.fancy_table thead
{
    background: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.fancy_table td:hover
{
    color: #339;
    background: #eff2ff;
}

/*ol, ul
{
    list-style: none;
}*/
a
{
    line-height: inherit;
}
p
{
    margin-bottom: 20px;
}
q:before, q:after, blockquote:before, blockquote:after
{
    content: "";
}
.clear:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear
{
    display: block;
}
* html .clear
{
    height: 1px;
}
body
{
    font-family: arial,helvetica,sans-serif;
    font-size: .9em;
    /*color: #4A4A44;*/
    color: #061C37;
    background-color: #bebebe;
}
.c1_dark
{
    background-color: #666;
}
.c1_med
{
    background-color: #e0e0e0;
}
.c1_light
{
    background-color: #f4f4f4;
}
.border_c1_med
{
    border: 1px solid;
    border-color: #e0e0e0;
    margin: -1px;
}
.c2_dark
{
    background-color: #32424a;
}
.c2_med
{
    background-color: #627984;
}
.c2_light
{
    background-color: #d5e3e9;
}
.border_c2_med
{
    border: 1px solid;
    border-color: #627984;
    margin: -1px;
}
.c3_dark
{
    background-color: #292c12;
}
.c3_med
{
    background-color: #bfc393;
}
.c3_light
{
    background-color: #ebecd3;
}
.border_c3_med
{
    border: 1px solid;
    border-color: #bfc393;
    margin: -1px;
}
.c4_dark
{
    background-color: #7e8b56;
}
.c4_med
{
    background-color: #d7e1ac;
}
.c4_light
{
    background-color: #e7f2d7;
}
.border_c4_med
{
    border: 1px solid;
    border-color: #d7e1ac;
    margin: -1px;
}
h1
{
    letter-spacing: -0.03em;
    margin-bottom: 0.5em;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1;
}
h1.nomargin
{
    margin-bottom: 0;
}
h2
{
    margin-bottom: 0.5em;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1;
}
h3
{
    color: #666;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
}
h4
{
    color: #222;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: .3em;
}
h4.largemargin
{
    color: #222;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.2em;
}
h4.nomargin
{
    margin-bottom: 0;
}
h4 a:link, h4 a:hover, h4 a:visited
{
    color: #32424a;
}
h5
{
    margin-bottom: 1.5em;
    font-weight: bold;
}
h5.nomargin
{
    margin-bottom: 0;
}
h5.alt
{
    font-style: italic;
    font-family: georgia,serif;
    color: #777;
}
h6
{
    font-weight: bold;
}
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited
{
    border: 0;
}
h1.right, h2.right, h3.right, h4.right, h5.right, h6.right, p.right, li.right, dd.right, dt.right, span.right, a.right, abbr.right, td.right, th.right
{
    text-align: right;
}
h1.justify, h2.justify, h3.justify, h4.justify, h5.justify, h6.justify, p.justify, li.justify, dd.justify, dt.justify, span.justify, a.justify, abbr.justify, td.justify, th.justify
{
    text-align: justify;
}
h1.center, h2.center, h3.center, h4.center, h5.center, h6.center, p.center, li.center, dd.center, dt.center, span.center, a.center, abbr.center, td.center, th.center
{
    text-align: center;
}
h1.soft, h2.soft, h3.soft, h4.soft, h5.soft, h6.soft, p.soft, li.soft, dd.soft, dt.soft, span.soft, a.soft, abbr.soft, td.soft, th.soft
{
    color: #777;
}
h1.date, h2.date, h3.date, h4.date, h5.date, h6.date, p.date, li.date, dd.date, dt.date, span.date, a.date, abbr.date, td.date, th.date
{
    font-family: Georgia, "Times New Roman" ,Times,serif;
    color: #777;
}
h1.nomargin, h2.nomargin, h3.nomargin, h4.nomargin, h5.nomargin, h6.nomargin, p.nomargin, li.nomargin, dd.nomargin, dt.nomargin, span.nomargin, a.nomargin, abbr.nomargin, td.nomargin, th.nomargin
{
    margin-bottom: 0;
}
.col h5, .col h6, .col p, .col dl, .col ul, .col ol, .col code
{
    margin-bottom: 1em;
    font-size: 1em;
}
.col h6
{
    margin-bottom: 0;
}
.col p
{
    color: #333;
    margin-bottom: 1em;
}
.col p.nomargin
{
    margin-bottom: 0;
}
.col p.small
{
    font-size: 0.917em;
}
.col p code
{
    margin: auto 0;
}
.col p.soft
{
    color: #777;
}
code
{
    color: #32424a;
    font-family: monaco, "lucida console" , "courier new" ,monospace;
}
dl.nomargin
{
    margin-bottom: 0;
}
dl dt
{
    color: #333;
    font-weight: bold;
    background: transparent url("../images/glyphs/circle_arrow.gif") left 25% no-repeat;
    padding-left: 20px;
    margin-top: 1.5em;
}
dl dt.first
{
    margin-top: 0;
}
dl dt code
{
    line-height: 0.1;
}
dl dd
{
    color: #333;
    display: block;
    padding-left: 20px;
}
dl dd code
{
    line-height: 0.1;
}
ul
{
    /*    color: #333;*/
    margin-bottom: 1.5em;
}
ul.nomargin
{
    margin-bottom: 0;
    margin-top: 0;
}
ul.nomargin li
{
    margin: 0;
}
ul li code
{
    margin: auto 0.25em;
    line-height: 0.1;
}
ol
{
    color: #333;
}
ol li
{
    list-style-type: lower-roman;
    margin-top: 1.5em;
    margin-left: 40px;
}
ol li.first
{
    margin-top: 0;
}
ol.in li
{
    list-style-position: inside;
}
em
{
    color: #000;
    background-color: #ffc;
}
strong
{
    font-weight: bold;
}
a
{
    /*border-bottom: 1px dotted #369;*/
    text-decoration: none;
    color: #369;
}
a:link, a:hover, a:visited
{
    color: #369;
}
a.noborder, a.laurel
{
    border: none;
}
a.external
{
    padding-right: 14px;
    background: url("../images/external_link.gif") top right no-repeat;
}
a:hover
{
    color: #000;
    border-color: #000;
}
a:hover.noborder
{
    border: none;
}
a.command
{
    font-family: arial,helvetica,sans-serif;
    font-size: 0.833em;
    line-height: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
a.command:hover
{
    color: #000;
}
pre
{
    background-color: #d5e3e9;
    margin: 1em -0.5em;
    padding: 0.8em 0.5em;
}
hr
{
    border: 0;
    border-top: 1px solid #ddd;
    margin: 0;
    margin-top: -1px;
    clear: both;
}
hr.one
{
    color: #fff;
    border: 0;
    height: 1.5em;
}
hr.two
{
    color: #fff;
    border: 0;
    height: 3em;
}
hr.three
{
    color: #fff;
    border: 0;
    height: 4.5em;
}

/* The buttons for the social bar are from sparkfun.com */
#social-bar .icon
{
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #599bdc !important;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    height: 20px;
    width: 20px;
    margin: 0 0px 0 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

#social-bar .icon:hover,
#social-bar .icon:focus,
#social-bar .icon:active,
#social-bar .icon.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFF;
    background-color: #599bdc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

#social-bar .icon:active,
#social-bar .icon.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #599bdc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}
#social-bar
{
    float: right;
}
#social-bar ul
{
    margin: 0 0 0 0;
}
#social-bar ul li
{
    float: left;
    list-style: none;
}
#social-bar ul li a
{
    background: url("../images/social-media.png") no-repeat;
    display: block;
    margin: 0 5px 0 0;
    height: 34px;
    width: 35px;
}
#social-bar ul li.youtube a
{
    background-position: 0 -44px;
}
#social-bar ul li.vimeo a
{
    background-position: -43px -44px;
}
#social-bar ul li.gplus a
{
    background-position: -88px -44px;
}
#social-bar ul li.facebook a
{
    background-position: -133px -44px;
}
#social-bar ul li.flickr a
{
    background-position: -178px -44px;
}
#social-bar ul li.twitter a
{
    background-position: -222px -44px;
}
#social-bar ul li.rss a
{
    background-position: -266px -44px;
}
#social-bar ul li.youtube a:hover
{
    background-position: 0 0;
}
#social-bar ul li.vimeo a:hover
{
    background-position: -43px 0;
}
#social-bar ul li.gplus a:hover
{
    background-position: -88px 0;
}
#social-bar ul li.facebook a:hover
{
    background-position: -133px 0;
}
#social-bar ul li.flickr a:hover
{
    background-position: -178px 0;
}
#social-bar ul li.twitter a:hover
{
    background-position: -222px 0;
}
#social-bar ul li.rss a:hover
{
    background-position: -266px 0;
}

.hidetext span
{
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.notification
{
    color: #3072b3;
    background-color: #f2f2ee;
    border-style: solid;
    border-color: #3072b3;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 3px 8px 2px 8px;
    width: auto;
    height: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#navbar
{
    background-color: #FFFFFF;
    height: 36px;
    border-bottom: 3px solid #3072b3;
}
#site-bar
{
    line-height: 1.5em;
}
#site-bar ul
{
    color: #3072b3;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    white-space: nowrap;
}
#site-bar ul li
{
    float: left;
    height: 35px;
    padding: 0 0 0 0;
    border-top: 1px solid #3072b3 !important;
    border-right: 1px solid #3072b3;
}
#site-bar ul li a
{
    display: block;
    margin: 0 0 0 0;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    overflow: visible;
    padding: 0.5em 1.5em;
    margin: 0;
    text-decoration: none;
}
#site-bar ul li a:hover
{
    color: #FFF;
    background-color: #0066cc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}
#site-bar ul li a:active
{
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #0066cc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

body#home a#nav-home, body#code a#nav-code, body#boards a#nav-boards, body#projects a#nav-projects, body#contact a#nav-contact
{
    color: #FFF;
    background-color: #0066cc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}
#site-bar ul li.firstlink
{
    /*-moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;*/
}
#site-bar ul li.lastlink
{
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    /*border-right: 1px solid #599bdc !important;*/
}
#site-bar ul li.lastlink a
{
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    /*border-right: 1px solid #599bdc !important;*/
}

#container
{
    -moz-box-shadow: 0 0 5px 3px #888;
    -webkit-box-shadow: 0 0 7px 3px #888;
    box-shadow: 0 0 6px 6px #888;
    background-color: #FFFFFF;
    width: 750px;
    margin: 0 auto 30px auto;
    height:auto;
}
#footer, #container, #content
{
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

.not-ready .slides 
{
    display: 				none;
}

.slides {
    position: 				relative;
    width: 					100%;
    height: 				100%;
}

.slides a
{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.home_text a
{
    display: inline;
    width: auto;
    height: auto;
}

#header
{
    display: block;
    background-color: #fff;
    height: auto;
    padding: 25px 5px 15px 25px;
}

#header_text
{
    position: relative;
    top: -79px;
    left: 93px;
    margin-left: 13px;
    width: auto;
    height: 9px;
}

#header_title
{
    font-size: 3em;
    color: #398dd7;
    font-family: Arial;
    margin-bottom: 8px;
    /*    text-shadow: 0 0 1px #DDD;*/
    /*    font-weight: bold;*/
    /*    text-shadow: 1px 1px white, -1px -1px #888;*/

}

#header_subtitle
{
    font-size: 1em;
    color: #bebfb7;
    font-family: Arial;
}

#logo
{
}

#content
{
    display:inline-block;
    background-color: #FFFFFF;
    padding: 20px 20px 0px 20px;
}

#content, #footer
{
    line-height: 1.5em;
}

#footer
{
    background-color: #f2f2ee;
    height: auto;
    border-top: 1px solid #93948c;
    color: #a4a59d;
    padding: 3px 3px 3px 3px;
    text-align: center;
}

#footer a
{
    color: #b5b6ae;
    /*    text-decoration: underline;*/
}

#footer a:hover
{
    color: #599bdc;
}