body {
  background-image: url('backtile_brown_001.jpg');
  font-size:16px;
  font-family:arial;
  font-style:bold;
  color:white;
}
p {
    border-style:none;
    border-width:0;
    font-size:20px;
    font-family:arial;
    color:white;
}

